* {
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.page-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}
.todo-form {
    background-color: #CADABA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-form-content {
    display: grid;
    gap: 16px;
}
.todo-form h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin: 0;
}
.todo-form input {
    display: block;
    height: 64px;
    border: 0;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 24px;
}
.todo-form input:focus {
    outline: none;
}
.todo-form-button {
    display: flex;
    justify-content: center;
}
.todo-form-button button {
    border: 0;
    background-color: #D6A4BB;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    padding: 18px 24px;
    cursor: pointer;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.todo-form-button button:hover {
    background-color: #E6B1C9;
}

.todo-list {
    background-color: #84B59C;
    padding: 32px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}
.todo-list__wrapper {
    width: 80%;
    display: grid;
    gap: 16px;
    align-self: right;
    background-color: #ffffff22;
    padding: 16px;
    border-radius: 16px;
}
.todo-list__container {
    display: grid;
    gap: 16px;
}
.todo-list__title {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-list__count {
    min-width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #ffffff44;
    color: #709984;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.todo-item {
    background-color: #F3BEC2;
    border-radius: 16px;
    padding: 16px;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    gap: 10px;
    cursor: pointer;
}
.todo-item__checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #ffffff66;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-item__checkbox svg {
    pointer-events: none;
    display: none;
}
.todo-item__checkbox.todo-item__checkbox--checked svg {
    display: block;
}
.todo-item:hover .todo-item__checkbox {
    background-color: #ffffff77;
}

.todo-item__delete {
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.todo-item__delete svg {
    pointer-events: none;
}

.todo-list__active {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-y: auto;
}
.todo-list__done {
    overflow-y: auto;
}
.todo-list__done .todo-item {
    background-color: #F2EEBD;
}

.todo-list__active--hide,
.todo-list__done--hide {
    visibility: hidden;
}